<h1>List of Authers</h1>
{% set x = 0 %}
{% if  tabAuthers is empty%}
<h1>Tab vide</h1>
{% else %}
<table border="1">
    <tr>
        <th>Id</th>
        <th>username</th>
        <th>Email</th>
        <th>Nb Books</th>
        <th>Action</th>
    </tr>
    {% for i in tabAuthers %}
        <tr>
            <td>{{ i.id }}</td>
            <td> {{ i.username|upper }}</td>
            <td>{{ i.email }}</td>
            <td> {{ i.nb_books }}</td>
            {% set  x= x+i.nb_books   %}
        </tr>
    {% endfor %}
</table>
{% endif %}
<h3>Nb_Authers: {{ tabAuthers|length }}</h3>
<h3>Nb_books: {{ x }}</h3>
<img src="{{ asset('img/symfonylive.jpg') }}"
     alt="" height="100px" width="100px">